@if (isActiveStep()) {
  <ng-content></ng-content>

  <div class="onboarding-step-actions">
    <div>
      @if (!stepStateService.isFirst()) {
        <button
          type="button"
          (click)="stepStateService.back()"
          class="bc-button bc-button--inverse"
        >
          Back
        </button>
      }
    </div>
    @if (!stepStateService.isLast()) {
      <app-form-button
        [isDisabled]="!isStepInputValid()"
        buttonLabel="Continue"
        (buttonEvent)="stepStateService.next(isStepInputValid())"
      />
    } @else {
      <app-form-button
        [isDisabled]="!isStepInputValid() || isSubmitting()"
        [buttonLabel]="isSubmitting() ? 'Creating gallery…' : 'Create gallery'"
        (buttonEvent)="submit()"
      />
    }
  </div>
}
