@if (isActiveStep()) {
  <ng-content></ng-content>

  <div class="w-full flex justify-between pt-8 border-t-gold-dim border-t mt-12">
    <div>
      @if (!stepStateService.isFirst()) {
        <button
          (click)="stepStateService.back()"
          class="font-sc bg-gold text-noir text-sm px-11 py-4 cursor-pointer"
        >
          Back
        </button>
      }
    </div>
    @if (!stepStateService.isLast()) {
      <app-form-button
        [isDisabled]="!isStepInputValid()"
        buttonLabel="Continue"
        (buttonEvent)="stepStateService.next(isStepInputValid())"
      />
    } @else {
      <app-form-button
        [isDisabled]="!isStepInputValid() || isSubmitting()"
        [buttonLabel]="isSubmitting() ? 'Creating Gallery…' : 'Create Gallery'"
        (buttonEvent)="submit()"
      />
    }
  </div>
}
